<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">

         function ftotal(){
            var v1 = +document.getElementById('total').value;
            console.log(v1);
            var v2 = +document.getElementById('totala').value;
            console.log(v2);
            var v3 = +document.getElementById('total1').value;
            console.log(v3);
            var v4 = +document.getElementById('total1a').value;
            console.log(v4);
            var v5 = +document.getElementById('total1b').value;
            console.log(v5);
            var v6 = +document.getElementById('total2').value;
            console.log(v6);
            var v7 = +document.getElementById('total2a').value;
            console.log(v7);
            var v8 = +document.getElementById('total3').value;
            console.log(v8);
            var v9 = +document.getElementById('total3a').value;
            console.log(v9);
            var total = v1 + v2 + v3 + v4 + v5 + v6 + v7 + v8 + v9;
            document.getElementById("finaltotal").value = +total;
        }

        $(document).ready(()=> {
            $("#ftotal").click(()=>{
                ftotal();
            });
        });        
</script>
<h1 id="banner">Indian Flavours</h1>
<div class="container">
 <form method="POST" action="/new" target="_self">
        <label for="inputState">Table Number</label>
        <select id="inputState" class="form-control" name="tableno">
            <option selected>Choose...</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
        </select>
    <div class="form-row">
        <div class="form-group col-md-5">
        <label for="inputState">Starters</label>
        <select  id="price" class="form-control" name="start1" onchange="calculateTotal()">
            {{#each data.dishes}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <label for="inputState">Quantity</label>
        <select id="quant" class="form-control" name="qty1" onchange="calculateTotal()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <label for="inputState">Total</label><br>
        <input class="form-control" type="text" name="s1" id="total" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
        <select  id="pricea" class="form-control" name="start2" onchange="calculateTotala()">
            {{#each data.dishes}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <select id="quanta" class="form-control" name="qty2" onchange="calculateTotala()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <input class="form-control" type="text" name="s2" id="totala" readonly>
        </div>
    </div>

    <!---Main Course Dishes--->
    <div class="form-row">
        <div class="form-group col-md-5">
        <label for="inputState">Main Course</label>
        <select  id="price1" class="form-control" name="main1" onchange="calculateTotal1()">
            {{#each data.main1}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <label for="inputState">Quantity</label>
        <select id="quant1" class="form-control" name="qty3" onchange="calculateTotal1()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <label for="inputState">Total</label><br>
        <input class="form-control" type="text" name="m1" id="total1" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
        <select  id="price1a" class="form-control" name="main2" onchange="calculateTotal1a()">
            {{#each data.main2}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <select id="quant1a" class="form-control" name="qty4" onchange="calculateTotal1a()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <input class="form-control" type="text" name="m2" id="total1a" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
        <select  id="price1b" class="form-control" name="main3" onchange="calculateTotal1b()">
            {{#each data.main3}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <select id="quant1b" class="form-control" name="qty5" onchange="calculateTotal1b()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <input class="form-control" type="text" name="m3" id="total1b" readonly>
        </div>
    </div>    

    <!---Drinks--->
    <div class="form-row">
        <div class="form-group col-md-5">
        <label for="inputState">Drinks</label>
        <select  id="price2" class="form-control" name="drink1" onchange="calculateTotal2()">
            {{#each data.drinks}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <label for="inputState">Quantity</label>
        <select id="quant2" class="form-control" name="qty6" onchange="calculateTotal2()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <label for="inputState">Total</label><br>
        <input class="form-control" type="text" name="dr1" id="total2" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
        <select  id="price2a" class="form-control" name="drink2" onchange="calculateTotal2a()">
            {{#each data.juices}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <select id="quant2a" class="form-control" name="qty7" onchange="calculateTotal2a()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <input class="form-control" type="text" name="dr2" id="total2a" readonly>
        </div>
    </div>

    <!---Desserts--->
    <div class="form-row">
        <div class="form-group col-md-5">
        <label for="inputState">Desserts</label>
        <select  id="price3" class="form-control" name="des1" onchange="calculateTotal3()">
            {{#each data.dessert}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <label for="inputState">Quantity</label>
        <select id="quant3" class="form-control" name="qty8" onchange="calculateTotal3()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <label for="inputState">Total</label><br>
        <input class="form-control" type="text" name="de1" id="total3" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
        <select  id="price3a" class="form-control" name="des2" onchange="calculateTotal3a()">
            {{#each data.dessert}}
                <option>{{ this.title }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                {{ this.price }}</option>
            {{/each}}
        </select>
        </div>
        <div class="form-group col-md-3">
        <select id="quant3a" class="form-control" name="qty9" onchange="calculateTotal3a()">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <input class="form-control" type="text" name="de2" id="total3a" readonly>
        </div>
    </div>
        <div class="form-row">
        <div class="form-group col-md-5">
            <p>.</p>
        </div>
        <div class="form-group col-md-3">
            <button type="button" id="ftotal" class="btn btn-primary">Total</button>
        </div>
        <div class="form-group col-md-4">
            <input class="form-control" type="text" name="finaltotal" id="finaltotal" readonly>
        </div>
        <div class="form-group col-md-4">
            <input class="form-control" type="hidden" name="fix" id="fix" readonly>
        </div>
    </div>
        <button type="submit" class="btn-danger btn-lg">Submit</button>      
 </form>
</div>

<script type="text/javascript">
    function inr(){
        var convert = +document.getElementById('finaltotal').value;
        var z = Math.floor(convert*100);
        console.log(z);
        document.getElementById('fix').value = +z;
    }

    $(document).ready(()=> {
            $("#ftotal").click(()=>{
                inr();
            });
        });
</script>