<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
    </script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!--<script src="https://github.com/js-cookie/js-cookie"></script>-->
    {{#each orders }}
        <div id="myid{{ @index }}">
        <table id="table1">
            <tr>
                <td colspan="2"> Table No.{{ this.tableno }}</td>
            </tr>
            <tr>
                <th>Food items</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td class="shift">{{ this.start1 }}</td>
                <td class="qtyid">{{ this.qty1 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.start2 }}</td>
                <td class="qtyid">{{ this.qty2 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.main1 }}</td>
                <td class="qtyid">{{ this.qty3 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.main2 }}</td>
                <td class="qtyid">{{ this.qty4 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.main3 }}</td>
                <td class="qtyid">{{ this.qty5 }}</td>
            </tr>        
            <tr>
                <td class="shift">{{ this.drink1 }}</td>
                <td class="qtyid">{{ this.qty6 }}</td>
            </tr>    
            <tr>
                <td class="shift">{{ this.drink2 }}</td>
                <td class="qtyid">{{ this.qty7 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.des1 }}</td>
                <td class="qtyid">{{ this.qty8 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.des2 }}</td>
                <td class="qtyid">{{ this.qty9 }}</td>
            </tr> 
            <tr>
                <td colspan="2"><button class="btn-primary btn-lg" id="done">Done</button></td>
                <!--<td><a href="javascript:void(null);" id="hideit">Close</a></td>-->
            </tr>
        </table>
        </div>
    <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited1')) { 
                    $("#myid0").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid0").click(function(){
                $(this).hide();
                localStorage.setItem('visited1', true); 
                return false;
            });
        });
    </script>
        <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited2')) { 
                    $("#myid1").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid1").click(function(){
                $(this).hide();
                localStorage.setItem('visited2', true); 
                return false;
            });
        });
    </script>
        <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited3')) { 
                    $("#myid2").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid2").click(function(){
                $(this).hide();
                localStorage.setItem('visited3', true); 
                return false;
            });
        });
    </script>
        <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited4')) { 
                    $("#myid3").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid3").click(function(){
                $(this).hide();
                localStorage.setItem('visited4', true); 
                return false;
            });
        });
    </script>
    <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited5')) { 
                    $("#myid4").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid4").click(function(){
                $(this).hide();
                localStorage.setItem('visited5', true); 
                return false;
            });
        });
    </script>
    {{/each}}
</body>
</html>