<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
    </script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    {{#each orders }}
        <div id="myid{{ @index }}">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2"> Table No.{{ this.tableno }}</td>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Food Items</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{this.start1}}</td>
                        <td>{{this.qty1}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{this.start2}}</td>
                        <td>{{this.qty2}}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>{{this.main1}}</td>
                        <td>{{this.qty3}}</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>{{this.main2}}</td>
                        <td>{{this.qty4}}</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>{{this.main3}}</td>
                        <td>{{this.qty5}}</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>{{this.drink1}}</td>
                        <td>{{this.qty6}}</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>{{this.drink2}}</td>
                        <td>{{this.qty7}}</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>{{this.des1}}</td>
                        <td>{{this.qty8}}</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>{{this.des2}}</td>
                        <td>{{this.qty9}}</td>
                    </tr>
                </tbody>    
            </table>    
        </div>
    <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited1')) { 
                    $("#myid0").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid0").click(function(){
                $(this).hide();
                localStorage.setItem('visited1', true); 
                return false;
            });
        });
    </script>
    <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited2')) { 
                    $("#myid1").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid1").click(function(){
                $(this).hide();
                localStorage.setItem('visited2', true); 
                return false;
            });
        });
    </script>
    <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited3')) { 
                    $("#myid2").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid2").click(function(){
                $(this).hide();
                localStorage.setItem('visited3', true); 
                return false;
            });
        });
    </script>
    <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited4')) { 
                    $("#myid3").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid3").click(function(){
                $(this).hide();
                localStorage.setItem('visited4', true); 
                return false;
            });
        });
    </script>
    <script>
        $(function(){
        
            if (localStorage) { 
                if (localStorage.getItem('visited5')) { 
                    $("#myid4").hide(); 
                }
            } else { 
                $('div').show();
            }

            $("#myid4").click(function(){
                $(this).hide();
                localStorage.setItem('visited5', true); 
                return false;
            });
        });
    </script>
    {{/each}}
</body>
</html>