<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    {{> header}}
    {{#each ordersM }}
    <div class="wrapper">
        <div id="design">
            <h4>Indian Flavors</h4>
            <h6>{{ this.time }}</h6>
        <table id="ManTable">
            <tr>
                <td colspan="3"> Table No.{{ this.tableno }}</td>
            </tr>
            <tr>
                <th>Food items</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr>
                <td class="shift">{{ this.start1 }}</td>
                <td>{{ this.qty1 }}</td>
                <td  id="p1" onkeyup="total()">{{ this.s1 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.start2 }}</td>
                <td>{{ this.qty2 }}</td>
                <td id="p2" onkeyup="total()">{{ this.s2 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.main1 }}</td>
                <td>{{ this.qty3 }}</td>
                <td id="p3" onkeyup="total()">{{ this.m1 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.main2 }}</td>
                <td>{{ this.qty4 }}</td>
                <td id="p4" onkeyup="total()">{{ this.m2 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.main3 }}</td>
                <td>{{ this.qty5 }}</td>
                <td id="p5" onkeyup="total()">{{ this.m3 }}</td>
            </tr>        
            <tr>
                <td class="shift">{{ this.drink1 }}</td>
                <td>{{ this.qty6 }}</td>
                <td id="p6" onkeyup="total()">{{ this.dr1 }}</td>
            </tr>    
            <tr>
                <td class="shift">{{ this.drink2 }}</td>
                <td>{{ this.qty7 }}</td>
                <td id="p7" onkeyup="total()">{{ this.dr2 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.des1 }}</td>
                <td>{{ this.qty8 }}</td>
                <td id="p8" onkeyup="total()">{{ this.de1 }}</td>
            </tr>
            <tr>
                <td class="shift">{{ this.des2 }}</td>
                <td>{{ this.qty9 }}</td>
                <td id="p9" onkeyup="total()">{{ this.de2 }}</td>
            </tr> 
            <!--<tr>
                <td colspan="2"><button onclick="total()" class="btn btn-primary">Total</button></td>
                <td id="total"></td>
            </tr>
            <tr>
                <td rowspan="2">GST</td>
                <td>CGST</td>
                <td>2.5%</td>
            </tr>
            <tr>
                <td>SGST</td>
                <td>2.5%</td>
            </tr>-->
            <tr>
                <td colspan="2">Total</td>
                <td id="p10">{{ this.finaltotal }}</td>
            </tr>
            <!--<tr>
                <td colspan="2"><button onclick="ftotal()" class="btn btn-success">Final Total</button></td>
                <td id="ftotal"></td>
            </tr>-->
        </table>
        <a href="/manager/print/{{ this._id }}" class="btn btn-success btn-lg float-right"> Print </a>
        <a href="/manager/delete/{{ this._id }}" class="btn btn-danger btn-lg float-right"> Paid </a>
    </div>
    </div>
    {{/each}}
    <script type="text/javascript">
        function total(){
            var v1 = +document.getElementById('p1').innerHTML;
            console.log(v1);
            var v2 = +document.getElementById('p2').innerHTML;
            console.log(v2);
            var v3 = +document.getElementById('p3').innerHTML;
            console.log(v3);
            var v4 = +document.getElementById('p4').innerHTML;
            console.log(v4);
            var v5 = +document.getElementById('p5').innerHTML;
            console.log(v5);
            var v6 = +document.getElementById('p6').innerHTML;
            console.log(v6);
            var v7 = +document.getElementById('p7').innerHTML;
            console.log(v7);
            var v8 = +document.getElementById('p8').innerHTML;
            console.log(v8);
            var v9 = +document.getElementById('p9').innerHTML;
            console.log(v9);
            var total = v1 + v2 + v3 + v4 + v5 + v6 + v7 + v8 + v9;
            document.getElementById("total").innerHTML = +total;
        }

       function ftotal(){
            var ft = +document.getElementById("total").innerHTML;
            console.log(ft);
            var ftotal = ft * (1 + 0.050);
            document.getElementById("ftotal").innerHTML = +ftotal;
       } 
    </script>
</body>
</html>