<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    {{> header}}
    {{#each ordersM }}
    <div class="wrapper">
        <div id="design">
            <h4>Indian Flavors</h4>
            <h6>{{ this.time }}</h6>
        <table id="ManTable">
            <tr>
                <td colspan="3"> Table No.{{ this.tableno }}</td>
            </tr>
            <tr>
                <th>Food items</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr>
                <td class="shift" id="food">{{ this.start1 }}</td>
                <td id="food">{{ this.qty1 }}</td>
                <td id="food">{{ this.s1 }}</td>
            </tr>
            <tr>
                <td class="shift"  id="food">{{ this.start2 }}</td>
                <td id="food">{{ this.qty2 }}</td>
                <td id="food" onkeyup="total()">{{ this.s2 }}</td>
            </tr>
            <tr>
                <td class="shift" id="food">{{ this.main1 }}</td>
                <td id="food">{{ this.qty3 }}</td>
                <td id="food" onkeyup="total()">{{ this.m1 }}</td>
            </tr>
            <tr>
                <td class="shift" id="food">{{ this.main2 }}</td>
                <td id="food">{{ this.qty4 }}</td>
                <td  id="food" onkeyup="total()">{{ this.m2 }}</td>
            </tr>
            <tr>
                <td class="shift" id="food">{{ this.main3 }}</td>
                <td id="food">{{ this.qty5 }}</td>
                <td id="food" onkeyup="total()">{{ this.m3 }}</td>
            </tr>        
            <tr>
                <td class="shift" id="food">{{ this.drink1 }}</td>
                <td id="food">{{ this.qty6 }}</td>
                <td id="food" onkeyup="total()">{{ this.dr1 }}</td>
            </tr>    
            <tr>
                <td class="shift" id="food">{{ this.drink2 }}</td>
                <td id="food">{{ this.qty7 }}</td>
                <td  id="food" onkeyup="total()">{{ this.dr2 }}</td>
            </tr>
            <tr>
                <td class="shift"  id="food">{{ this.des1 }}</td>
                <td id="food">{{ this.qty8 }}</td>
                <td id="food" onkeyup="total()">{{ this.de1 }}</td>
            </tr>
            <tr>
                <td class="shift" id="food">{{ this.des2 }}</td>
                <td id="food">{{ this.qty9 }}</td>
                <td id="food" onkeyup="total()">{{ this.de2 }}</td>
            </tr> 
            <tr>
                <td colspan="2">Total</td>
                <td id="food">{{ this.finaltotal }}</td>
            </tr>
        </table>
        <a href="/manager/print/{{ this._id }}" class="btn btn-success btn-lg float-right"> Print </a>
        <a href="/manager/delete/{{ this._id }}" class="btn btn-danger btn-lg float-right"> Paid </a>
    </div>
    </div>
    {{/each}}
</body>
</html>